<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.neuedu.dao.PrescriptionMapper">

	<resultMap id="prescriptionMap" type="com.neuedu.entity.Prescription">
		<result property="id" column="pid"/> 
		<result property="count" column="pcount"/> 
		<result property="isdistributed" column="pisdistributed"/>
		<association property="register" javaType="com.neuedu.entity.Register"> 
			<result property="id" column="rid"></result> 
		</association> 
		<association property="medicine" javaType="com.neuedu.entity.Medicine"> 
			<result property="id" column="mid"></result> 
			<result property="name" column="mname"></result> 
			<result property="fee" column="mfee"></result> 
		</association> 
	</resultMap>
	
	 <select id="queryAllCount" resultType="_int"> 
		select count(*) from prescription
	 </select>
	
	<select id="queryAllByPage" parameterType="map" resultMap="prescriptionMap"> 
		SELECT p.id AS pid, r.id AS rid, m.id AS mid, m.name AS mname, m.fee AS mfee,p.count AS pcount,isdistributed AS pisdistributed
		FROM prescription p,register r,medicine m  
		WHERE p.mid=m.id
		<if test="startIndex != null and pageSize != null"> 
			limit #{startIndex}, #{pageSize} 
		</if>
	</select>
	
	<insert id="add" parameterType="Prescription"> 
		insert into prescription (rid,mid,mname,mfee,count,isdistributed) 
		values (${id},
		#{medicine.id},
		(select name from medicine where medicine.id=#{medicine.id}),
		(select fee from medicine where medicine.id=#{medicine.id}),
		#{count},#{isdistributed});
	</insert>
</mapper>