<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
	<configuration> 
	
	<settings> <setting name="logImpl" value="STDOUT_LOGGING"/> </settings>
	<typeAliases> 
		<typeAlias alias="Department" type="com.neuedu.entity.Department"/> 
		<typeAlias alias="Doctor" type="com.neuedu.entity.Doctor"/> 
	</typeAliases>
		<mappers> <mapper class="com.neuedu.dao.DepartmentMapper"/> 
		<mapper class="com.neuedu.dao.DoctorMapper"/>
	 </mappers>

</configuration>